body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Permanent Marker', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: 0;
  color: #66BFBF;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.skills {
  margin: 50px auto 50px auto;
}

